      body {
        /* width: 100%;
        height: 100vh;
        perspective: 1200px; */
        display: flex;
        justify-content: center;
        align-items: center;
        text-align: center;
        font-family: 'Archivo Narrow', sans-serif;
        background: url('assets/istockphoto-1066685262-612x612.jpg')  center center fixed; 
        -webkit-background-size: cover;
        -moz-background-size: cover;
        -o-background-size: cover;
        background-size: cover;
      }

      .card {
        transform-style: preserve-3d;
        height: 400px;
        cursor: pointer;
        display: block;
        position: absolute;
        top: 50%;
        left: 55%;
        margin: -250px 0 0 -100px;
      }

      .front, .back, .page {
        transform-style: preserve-3d;
        transform-origin: left center;
        transition: transform .5s ease-in-out, box-shadow .5s ease-in-out;
        position: absolute;
        width: 240px;
        height: 100%;
        top: 0; 
        left: 0;
        background-color: #F7F7F7;
        padding: 40px;
      }

      .back {
        background: url('assets/bg.jpg') center center fixed; 
        -webkit-background-size: cover;
        -moz-background-size: cover;
        -o-background-size: cover;
        background-size: cover;
        font-family: 'Cookie';
        font-size: 165%;
      }

      .flip {
        transform: scaleX(-1);
      }

      .signature {
        height: auto;
        width: 80%;
        padding-bottom: 0%;
      }

      .ssoe{
        position: relative;
        margin-top: 50%;
        width: 80%;
      }

      .front {
        background: url('assets/cpic.jpg') no-repeat center;
        background-size: cover;
      }
      
      @media (hover: hover)  {
        .card:hover .front {
          transform: rotateY(-160deg);
          box-shadow: 0 1em 3em 0 rgba(0, 0, 0, .2);
          /* zoom: 150%; */
        }
  
        .card:hover .page {
          transform: rotateY(-159deg);
          box-shadow: 0 1em 3em 0 rgba(0, 0, 0, .2);
          /* zoom: 150%; */
  
        }
  
        .card:hover .back {
          transform: rotateY(-20deg);
          box-shadow: 0 1em 3em 0 rgba(0, 0, 0, .2);
          /* zoom: 150%; */
  
        }
  
      }

    /* new id assigned for mobile */
     @media  screen and (max-width: 600px){
       
    @media (card:active) {
      #newclass .front {
        transform: rotateY(-160deg);
        box-shadow: 0 1em 3em 0 rgba(0, 0, 0, .2);
        /* zoom: 150%; */
        }
  
      #newclass .page {
        transform: rotateY(-159deg);
        box-shadow: 0 1em 3em 0 rgba(0, 0, 0, .2);
        /* zoom: 150%; */
  
        }
  
      #newclass .back {
        transform: rotateY(-20deg);
        box-shadow: 0 1em 3em 0 rgba(0, 0, 0, .2);
        /* zoom: 150%; */
  
        }
      } 
    }

      
      .ssoe-logo {
        position: absolute;
        left: 0px;
        top: 0px;
        height: 75px;
        width: auto;
      }

      .name {
         font-family: freight-neo-pro, sans-serif;
         font-size: 70%;
      }